:root {
  --text-main-color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/counter_background.gif");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: var(--text-main-color);
  font-family: "Fira Sans";
  font-size: 130px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px var(--text-shadow-color);
}

p {
  color: #ffffff;
  font-family: "Carme", sans-serif;
  font-size: 18px;
}

.container {
  margin: auto;
  max-width: 1048px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer__display {
  padding-left: 1.5em;
  justify-self: center;
}
.timer__display > p {
  font-size: 5em;
}

.button__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 6px;
}

.button {
  color: white;
  background-color: transparent;
  font-size: 1.8em;
  padding: 1em;
  transition: ease-in-out 0.3s;
  border: none;
  outline: none; /* Removes focus outline */
  cursor: pointer;
  position: relative;
}

.button:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -7%;
  top: 25%; /* Adjusts the line height */
  height: 50%; /* Controls the length of the line */
  width: 1px;
  background-color: white;
  opacity: 0.5; /* Optional: makes the line less prominent */
}

/* .button:active {
  border: 1px solid var(--text-main-color);
  background-color: var(--text-main-color);
} */
.button:hover {
  transform: scale(120%);
}

.split__wrapper {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 1.2rem;
padding: 10px;
color: white;
}

@media only screen and (max-device-width: 1280px) {
  * {
    font-size: 0.9em;
  }
  h1 {
    font-size: 60px;
    line-height: 0px;
  }
  .button__wrapper {
    margin: auto;
    width: 100%;
  }
  .timer__display > p {
    font-size: 3.8em;
    padding-left: 0;
  }
}
